/* === global styles =============== */

:root {
  --main-color: #212121;
  --alt-color: #2196f3;
  --description-color: #757575;
  --fone-color: #ffffff;
  --rgba-color: rgba(100%, 100%, 100%, 60%);
  --background-color: #2f303a;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--main-color);
}
.link:hover,
.link:focus {
  color: var(--alt-color);
}
.button {
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--alt-color);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* === header =================== */

.header-link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}
.logo {
  color: var(--alt-color);
}

.link-nav-studio,
.link-nav-portfolio,
.link-nav-contacts {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-link-mail,
.header-link-tel {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--description-color);
}

/* === main section hero ===================== */

.main-section-hero {
  width: 1600px;
  background-color: var(--background-color);
}
.main-section-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}
.main-section-hero-button-container {
  width: 200px;
  height: 50px;
  margin-left: 700px;
}

.main-section-hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--alt-color);
}
.main-section-hero-button:hover,
.main-section-hero-button:focus {
  color: #ffffff;
  background-color: #188ce8;
  cursor: pointer;
}
/* === main section with us ===== */

.with-us-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
}
.with-us-text {
  line-height: 24px;
  color: #757575;
}
/* main section what are we doing */

.main-section-what-are-we-doing-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
/* === main section our team ==== */

.main-section-our-team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #212121;
}
.our-team-profession {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}

/* === footer =================== */

.footer-section {
  width: 1600px;
  background: #2f303a;
}
.footer-link-logo {
  font-family: 'Raleway', sans-seri;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}
.footer-section-address-text {
  line-height: 24px;
  color: #ffffff;
}
.footer-section-address-mail {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-section-address-tel {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-section-address-mail:hover,
.footer-section-address-mail:focus {
  color: #ffffff;
}
.footer-section-address-tel:hover,
.footer-section-address-tel:focus {
  color: #ffffff;
}
